@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100;1,400;1,500&display=swap');
/* nav {
    background-color: #333;
    color: #fff;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline-block;
    margin-right: 20px;
}
li:last-child {
    margin-right: 0;
}
li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}
header {
    background-color: #F2F2F2;
    padding: 20px;
    text-align: center;
}
.main-content {
    padding: 40px;
    text-align: center;
} */

